@charset "utf-8";

@import "compass";
@import "compass/reset/";
@import "mixin";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);	
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,300italic,400italic,700italic);

* {
	@include box-sizing(border-box);
}

html {
  font-family: "Josefin Sans", 'Noto Sans Japanese', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
	// font-family: 'Noto Sans Japanese', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
	font-size: 10px;
	min-width: 320px;
	height: 100%;
	background-color: #fff;
	color: #333;
	box-sizing: border-box;
  line-height: 1.5;
}

body {
	position: relative;
	min-height: 100%;
	@include fontsize(10);
	-webkit-text-size-adjust:100%;
}

a {
	text-decoration: none;
  color: #333;
	&:hover {
    color: #333;
	}
  &:visited {
    color: #333;
  }
}
img {
	vertical-align: bottom;
}
::selection {
	background: #0d3d6e;
	color: #fff;
}
::-moz-selection {
	background: #0d3d6e;
	color: #fff;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #fff;
  z-index: 2;
  @include sp {
    // height: 80px;
  }
  .top & {
    display: none;
  }
}
.header__inner {
  // max-width: 1280px;
  margin: 0 auto;
  position: relative;
  @include sp {
    padding: 0 10px;
  }
  @include pc {
    padding: 0 30px;
  }
}
.header__logo {
  width: 140px;
  @include sp {    
    width: 100px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.header__menuBtn {
  display: block;
  width: 60px;
  height: 60px;
  // padding: 10px;
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 4;
  @include sp {
    top: 0;
    margin-top: -3px;
  }
}
.menuLine {
  content: "";
  display: inline-block;
  background-color: #333;
  height: 3px;
  width: 25px;
  position: absolute;
  right: 15px;
  border-radius: 4px;
  transition: all 0.2s linear;
  &:nth-child(1) {
    top: 20px;
  }
  &:nth-child(2) {
    top: calc(50% - 2px);
  }
  &:nth-child(3) {
    bottom: 21px;
  }
  .header__menuBtn--open & {
    width: 30px;
    background-color: #fff;
    &:nth-child(1) {
      transform-origin: 100% 50%; 
      -webkit-transform-origin: 100% 50%; 
      @include rotate(-45deg);
      top: 14px;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform-origin: 100% 50%; 
      -webkit-transform-origin: 100% 50%; 
      @include rotate(45deg);
    }
  }
}
.header__navi {
  width: 500px;
  position: absolute;
  top: 15px;
  right: 40px;
  // @include sp {
    display: none;

    z-index: 3;
    background: rgba(#000, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  // }
    // @include scale(2);
  // }
  // animation: menu-close 0.2s linear 0s;

  // transition: transform 0.2s linear;
  &.header__menu--open {
    // @include scale(1);
    display: block;
    animation: menu-open 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -webkit-animation: menu-open 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
}

@keyframes menu-open {
  from{
    @include scale(2);
  }
  to{
    @include scale(1);
  }
}
@-webkit-keyframes menu-open {
  from{
    @include scale(2);
  }
  to{
    @include scale(1);
  }
}
.naviContainer {
  // @include pc {
  //   width: 500px;
  //   display: flex;
  //   -webkit-justify-content: space-between;
  //   justify-content: space-between;    
  // }
  // @include sp {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction:         column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 60px 0;

}
.navi {
  // @include sp {
    text-align: center;
  // }
}
.navi__anchor {
  // @include sp {
    @include fontsize(41);
    color: #fff;
    transition: opacity 0.2s linear;
    letter-spacing: 0.25em;
    padding: 10px;
    &:hover {
      opacity: 0.7;
    }
    &:visited {
      color: #fff;
    }
  @include sp {
    @include fontsize(25);
  }
  @include pc {
    padding: 10px;
    // @include fontsize(12);
  //   font-weight: bold;
  //   display: inline-block;
  //   padding-bottom: 5px;
  //   transition: all 0.2s linear;
  //   &:hover {
  //     opacity: 0.7;
    }    
  // }
}
.navi__anchor--current {
  // @include pc {
  //   border-bottom: solid 4px #333;
  // }
}
.wrapper {
	width: 100%;
  z-index: 1;
  background-color: #fff;
}
.wrapper--fixed {
  // overflow: hidden;
  position: fixed;
}
.main {
  width: 100%;
}
.footer {
  background-color: #191919;
  color: #fff;
  @include sp {
    padding: 70px 0;
  }
  @include pc {
    padding: 60px 10px 90px;
  }
}
.footer__contents {
  letter-spacing: 0.15em;
  @include pc {
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
    position: relative;
    overflow: hidden;
  }
  @include sp {
    // @include fontsize(16);
  }
}
.footerLogo {
  width: 160px;
  @include sp {
    width: 140px;
    margin: 0 auto 40px;
  }
  @include pc {
    float: left;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.footerLink {
  @include sp {
    margin-bottom: 30px;
  }
  @include pc {
    // float: left;
    // margin-left: 33%;
    margin: 0 auto;
    width: 260px;
  }
}
.footerLinkContainer {
  position: relative;
}
.footerLinkList {
  @include sp {
    margin-bottom: 15px;
    text-align: center;
  }
  @include pc {
    text-align: left;
    width: 130px;
    height: 22px;
    margin-bottom: 10px;
    &:nth-child(4) {
      position: absolute;
      left: 131px;
      top: 0;
    }
    &:nth-child(5) {
      position: absolute;
      left: 131px;
      top: 33px;
    }
  }
}
.footerLinkList__link {
  letter-spacing: 0.25;
  color: #fff;
  position: relative;
  padding-left: 1em;
  @include fontsize(12);
  transition: all 0.2s linear;
  @include sp {
    @include fontsize(10);
  }
  &:before {
    content: ">";
    position: absolute;
    left: 0;
    top: -4px;
  }
  &:hover {
    color: #fff;
    opacity: 0.7;
  }
  &:visited {
    color: #fff;
  }
}
.footerContact {
  @include sp {
    text-align: center;
    margin-bottom: 28px;    
  }
  @include pc {
    position: absolute;
    right: 83px;
    top: 0;
    // float: right;
    text-align: left;    
  }
}
.contact__title {
  margin-bottom: 10px;
}
.contact__email {
  margin-bottom: 10px;
  a {
    color: #fff;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.7;
    }
  }
}
.contact__tel {
  margin-bottom: 10px;
}

.copy {
  @include sp {
    text-align: center;
  }
  @include pc {
    position: absolute;
    right: 0;
    top: 50px;
    text-align: left;
  }
}
.mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 20;
}
