@charset "utf-8";
@import "compass";
@import "mixin";

.eventWrapper {
  padding-top: 100px;
  padding-bottom: 195px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.eventDetail__title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
  @include sp {
    @include fontsize(16);
    margin-bottom: 50px;
  }
  @include pc {
    @include fontsize(30);
    margin-bottom: 90px;
  }
}
.eventDetail__titleText {
  padding: 0 0 5px 0.15em;
  border-bottom: solid 3px #333;  
}
.eventDetail__eyecatch {
  margin-bottom: 40px;
  img {
    width: 100%;
  }
}
.eventDetail__content{
  padding: 0 10px;
  @include fontsize(12);
  letter-spacing: 0.2em;
  line-height: 3.5;
  text-align: justify;
  @include sp {
    margin-bottom: 60px
  }
  @include pc {
    margin-bottom: 260px;
  }

  @include wpTextStyle;

}
.eventBackBtnArea {

}
.eventBackBtnArea__backBtn {
  display: block;
  width: 350px;
  border: solid 2px #333;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  @include fontsize(16);
  letter-spacing: 0.25em;
  transition: 
    background 0.2s linear,
    color 0.2s linear;
  &:hover {
    background-color: #333;
    color: #fff;
  }
}