@charset "utf-8";

@import "compass";
@import "mixin";

.newsWrapper {
	// padding-top: 100px;
  padding: 60px 0 195px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.newsContaner {
  padding-top: 100px;
  @include sp {
    margin-bottom: 60px;
  }
  @include pc {
    margin-bottom: 120px;
  }
}
.newsHeader {
  color: #000;
  position: relative;
  overflow: hidden;
  @include sp {
    margin-bottom: 30px;
  }
}
.news__title {
  @include fontsize(16);
  font-weight: bold;
  letter-spacing: 0.2em;
  @include sp {
    @include fontsize(12);
    text-align: center;
    margin-bottom: 15px;
  }
  @include pc {
    padding-left: 4px;
    float: left;
  }
}
.news__date {
  @include fontsize(11);
  font-weight: bold;
  letter-spacing: 0.2em;
  @include sp {
    @include fontsize(10);
    text-align: center;
  }
  @include pc {
    float: right;
    margin-top: 5px;
    padding-right: 4px;
  }
}
.news__eyecatch {
  padding: 0;
  margin-bottom: 40px;
  img {
    width: 100%;
  }
}
.news__contents {
  padding: 0;
  @include fontsize(12);
  letter-spacing: 0.2em;
  line-height: 3.5;
  text-align: justify;
  @include sp {
    padding: 0 25px;
    @include fontsize(10);
  }

  @include wpTextStyle;
}

.newsPagenate {
  margin-bottom: 50px;
  text-align: center;
  @include fontsize(16);
  a {
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.5;
    }
    &.current {
      color: #aaa;
    }
  }

}