@charset "utf-8";

@import "compass";
@import "mixin";

.section {
  padding: 100px 0 120px;
}
.main {

}
.news {
  padding-top: 80px;
  @include sp {
  }
}
.news__header {
  text-align: center;
  // margin-bottom: 30px;
  margin-bottom: 150px;
}
.news__headerText {
  @include fontsize(16);
  font-weight: bold;
  letter-spacing: 0.25em;
  border-bottom: solid 3px #333;
  padding-left: 0.25em;
  display: inline-block;
}
.newsLatest__contents {
  @include pc {
    max-width: 1280px;
    margin: 0 auto 150px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.newsLatest {
  position: relative;
  @include sp {
    width: 100%;
    margin-bottom: 30px;
  }
  @include pc {
    width: -webkit-calc(25% - 2px);
    width: calc(25% - 2px);
  }
  &:last-child {
    // margin-bottom: 0;
  }
}
.newsLatest__link {
  display: block; 
}
.newsLatest__imageWrapper {
  content: "";
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #000;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
.newsLatest__image {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.02);
  transition: all 0.2s linear;
  .newsLatest__link:hover & {
    // background: none;
    opacity: 0.7;
    transform: scale(1.0);
  }

}
.newsLatest__headline {
  padding: 14px 20px;
  transition: all 0.2s linear;
  letter-spacing: 0.2em;
  .newsLatest__link:hover & {
    opacity: 0.7;
  }
}
.newsLatest__date {
  @include fontsize(10);
  margin-bottom: 4px;
  letter-spacing: 0.2em;
}
.newsLatest__caption {
  @include fontsize(10);
  text-align: justify;
  letter-spacing: 0.2em;
}
.newsMore {

}
.newsMore__btn {
  display: block;
  border: solid 2px #333;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  @include fontsize(16);
  letter-spacing: 0.25em;
  transition: 
    background 0.2s linear,
    color 0.2s linear;
  &:hover {
    background-color: #333;
    color: #fff;
  }
  @include sp {
    width: 80%;
  }
  @include pc {
    width: 360px;
  }
}
.about {
  background-color: #fdf6e6;
}
.about__header {
  @extend .news__header;
}
.about__headerText {
  @extend .news__headerText;
}
.about__slogan {
  text-align: center;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 130px;
  @include sp {
    padding: 0 10px;
    @include fontsize(34);
  }
  @include pc {
    @include fontsize(50);
    letter-spacing: 0.25em;
  }
}
.about__sloganImg {
  @include sp {
    width: 100%;
  }
}
.about__message {
  padding: 20px;
  @include fontsize(15);
  letter-spacing: 0.25em;
  line-height: 3.5;
  text-align: justify;
  @include pc {
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto 130px;
  }
}
.about__movie {
  text-align: center;
  @include sp {
    iframe {
      width: 100%;
    }
  }
}
.event__header {
  @extend .news__header;
  margin-bottom: 220px;
}
.event__headerText {
  @extend .news__headerText;
}
.event__contents {
  margin-bottom: 50px;
  @include pc {
    max-width: 1280px;
    margin: 0 auto 150px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.eventLatest {
  @include pc {
    position: relative;
    width: calc(33.3% - 2px);
    width: -webkit-calc(33.3% - 2px);
  }
}
.eventLatest__link,
.eventLatest__nolink {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
.eventLatest__bg {
  position: absolute;
  top: 0;
  left: 0;
  // display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.02);
  transition: all 0.2s linear;
  .eventLatest__link:hover & {
    transform: scale(1.0);
    opacity: 0.7;
  }
  @include sp {

  }
}
.eventLatest__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  color: #fff;
  display: block;
  height: 83%;
  width: 83%;
  // background-color: #eee;
  border: solid 3px #fff;
  @include fontsize(25);
  letter-spacing: 0.12em;
  line-height: 2.2;
  padding: 40px 20px;
}
.eventMore {
  // @extend .newsMore;
}
.eventMore__btn {
  @extend .newsMore__btn;
}
.link {
  margin-bottom: 100px;
  @include pc {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto 150px;
    padding: 100px 10px 0;
  }
}
.link__header {
  @extend .news__header;

}
.link__headerText {
  @extend .news__headerText;
}
.linkContainer {
  padding: 0 10px;
}
.linkList {
  border-bottom: solid 2px #333;
  @include sp {
    margin-bottom: 40px;
  }
  @include pc {
    @include fontsize(12);
    letter-spacing: 0.15em;
    margin-bottom: 50px;
  }
}
.linkList__link {
  display: block;
  padding: 15px 10px;
  transition: all 0.2s linear;
  @include sp {
    text-align: center;
  }
  @include pc {
    overflow: hidden;
  }
  &:hover {
    opacity: 0.6;
  }
}
.linkList__title {
  @include sp {
    display: block;
    @include fontsize(16);
    margin-bottom: 15px;
  }
  @include pc {
    display: inline-block;
    float: left;
  }
}
.linkList__category {
  @include sp {
    display: block;
    @include fontsize(16);
  }
  @include pc {
    display: inline-block;
    float: right;    
  }
}

.openingVideo {
  overflow: hidden;
  position: fixed;
  top: 0;
}
.video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  z-index: 10;
  background-color: #000;
  // background-image: url(../img/sp_main.png);
  // background-size: cover;
  // background-position: center center;
  // background-repeat: no-repeat;
}
.video__cover {
  content: "";
  background: url(../img/02.png) left top repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.videoOver__down {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  @include fontsize(16);
  a {
    display: block;
    color: #fff;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 12px;
      left: 0;
      right: 0;
      margin: auto;
      background-image: url(../img/icon_down.svg);
      background-position: center center;
      background-repeat: no-repeat;
      animation: scrollDown 0.5s ease -1s infinite alternate;
    }
  }
}
@keyframes scrollDown {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: -25px;
  }
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.openingContent {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  left: 0;
  top: 0;
}
.openingMask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  background: #000;
}
.openingLogo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 12;
  width: 300px;
  height: 111px;
}