@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", 'Noto Sans Japanese', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 10px;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 10px;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}
a:visited {
  color: #333;
}

img {
  vertical-align: bottom;
}

::selection {
  background: #0d3d6e;
  color: #fff;
}

::-moz-selection {
  background: #0d3d6e;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .header {
    height: 80px;
  }
}

.header__inner {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .header__inner {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) {
  .header__inner {
    padding: 0 30px;
  }
}

.header__logo {
  width: 120px;
}
.header__logo img {
  width: 100%;
  height: auto;
}

.header__menuBtn {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 4;
}

.menuLine {
  content: "";
  display: inline-block;
  background-color: #333;
  height: 4px;
  width: 30px;
  position: absolute;
  right: 15px;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.menuLine:nth-child(1) {
  top: 18px;
}
.menuLine:nth-child(2) {
  top: calc(50% - 2px);
}
.menuLine:nth-child(3) {
  bottom: 18px;
}
.header__menuBtn--open .menuLine {
  width: 40px;
  background-color: #fff;
}
.header__menuBtn--open .menuLine:nth-child(1) {
  transform-origin: 100% 50%;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
}
.header__menuBtn--open .menuLine:nth-child(2) {
  display: none;
}
.header__menuBtn--open .menuLine:nth-child(3) {
  transform-origin: 100% 50%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__navi {
  width: 500px;
  position: absolute;
  top: 15px;
  right: 40px;
  display: none;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.naviContainer {
  height: 100%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 60px 0;
}

.navi {
  text-align: center;
}

.navi__anchor {
  font-size: 40px;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  transition: opacity 0.2s linear;
}
.navi__anchor:hover {
  opacity: 0.7;
}
.navi__anchor:visited {
  color: #fff;
}

.wrapper {
  width: 100%;
}

.wrapper--fixed {
  position: fixed;
}

.main {
  width: 100%;
}

.footer {
  background-color: #000;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 60px 0 40px;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 60px 10px 90px;
  }
}

.footer__contents {
  letter-spacing: 0.15em;
}
@media only screen and (min-width: 768px) {
  .footer__contents {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    position: relative;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .footer__contents {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.footerLogo {
  width: 160px;
}
@media only screen and (max-width: 767px) {
  .footerLogo {
    margin: 0 auto 50px;
  }
}
@media only screen and (min-width: 768px) {
  .footerLogo {
    float: left;
  }
}
.footerLogo img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .footerLink {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .footerLink {
    margin: 0 auto;
    width: 260px;
  }
}

.footerLinkContainer {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .footerLinkList {
    margin-bottom: 15px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .footerLinkList {
    text-align: left;
    width: 130px;
    height: 22px;
    margin-bottom: 10px;
  }
  .footerLinkList:nth-child(4) {
    position: absolute;
    left: 131px;
    top: 0;
  }
  .footerLinkList:nth-child(5) {
    position: absolute;
    left: 131px;
    top: 33px;
  }
}

.footerLinkList__link {
  letter-spacing: 0.25;
  color: #fff;
  position: relative;
  padding-left: 1em;
  font-size: 12px;
  font-size: 1.2rem;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 767px) {
  .footerLinkList__link {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.footerLinkList__link:before {
  content: ">";
  position: absolute;
  left: 0;
  top: -4px;
}
.footerLinkList__link:hover {
  color: #fff;
  opacity: 0.7;
}
.footerLinkList__link:visited {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .footerContact {
    text-align: center;
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .footerContact {
    position: absolute;
    right: 36px;
    top: 0;
    text-align: left;
  }
}

.contact__title {
  margin-bottom: 10px;
}

.contact__email {
  margin-bottom: 10px;
}

.contact__tel {
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .copy {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .copy {
    position: absolute;
    right: 0;
    top: 50px;
    text-align: left;
  }
}

.section {
  padding: 100px 0 120px;
}

.news {
  padding-top: 80px;
}

.news__header, .about__header, .event__header, .link__header {
  text-align: center;
  margin-bottom: 150px;
}

.news__headerText, .about__headerText, .event__headerText, .link__headerText {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.25em;
  border-bottom: solid 3px #333;
  padding-left: 0.25em;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .newsLatest__contents {
    max-width: 1280px;
    margin: 0 auto 150px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

.newsLatest {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .newsLatest {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .newsLatest {
    width: -webkit-calc(25% - 2px);
    width: calc(25% - 2px);
  }
}

.newsLatest__link {
  display: block;
}

.newsLatest__imageWrapper {
  content: "";
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.newsLatest__imageWrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.newsLatest__image {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.02);
  transition: all 0.2s linear;
}
.newsLatest__link:hover .newsLatest__image {
  opacity: 0.7;
  transform: scale(1);
}

.newsLatest__headline {
  padding: 14px 20px;
  transition: all 0.2s linear;
  letter-spacing: 0.2em;
}
.newsLatest__link:hover .newsLatest__headline {
  opacity: 0.7;
}

.newsLatest__date {
  font-size: 10px;
  font-size: 1rem;
  margin-bottom: 4px;
  letter-spacing: 0.2em;
}

.newsLatest__caption {
  font-size: 10px;
  font-size: 1rem;
  text-align: justify;
  letter-spacing: 0.2em;
}

.newsMore__btn, .eventMore__btn {
  display: block;
  border: solid 2px #333;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.25em;
  transition: background 0.2s linear, color 0.2s linear;
}
.newsMore__btn:hover, .eventMore__btn:hover {
  background-color: #333;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .newsMore__btn, .eventMore__btn {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .newsMore__btn, .eventMore__btn {
    width: 360px;
  }
}

.about {
  background-color: #fdf6e6;
}

.about__slogan {
  text-align: center;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 130px;
}
@media only screen and (max-width: 767px) {
  .about__slogan {
    padding: 0 10px;
    font-size: 34px;
    font-size: 3.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__slogan {
    font-size: 50px;
    font-size: 5rem;
    letter-spacing: 0.25em;
  }
}

@media only screen and (max-width: 767px) {
  .about__sloganImg {
    width: 100%;
  }
}

.about__message {
  padding: 20px;
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.25em;
  line-height: 3.5;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .about__message {
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto 130px;
  }
}

.about__movie {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .about__movie iframe {
    width: 100%;
  }
}

.event__header {
  margin-bottom: 220px;
}

.event__contents {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .event__contents {
    max-width: 1280px;
    margin: 0 auto 150px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .eventLatest {
    position: relative;
    width: calc(33.3% - 2px);
    width: -webkit-calc(33.3% - 2px);
  }
}

.eventLatest__link,
.eventLatest__nolink {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
}
.eventLatest__link:before,
.eventLatest__nolink:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.eventLatest__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.02);
  transition: all 0.2s linear;
}
.eventLatest__link:hover .eventLatest__bg {
  transform: scale(1);
  opacity: 0.7;
}

.eventLatest__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  color: #fff;
  display: block;
  height: 83%;
  width: 83%;
  border: solid 3px #fff;
  font-size: 25px;
  font-size: 2.5rem;
  letter-spacing: 0.12em;
  line-height: 2.2;
  padding: 40px 20px;
}

.link {
  margin-bottom: 100px;
}
@media only screen and (min-width: 768px) {
  .link {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto 150px;
    padding: 100px 10px 0;
  }
}

.linkContainer {
  padding: 0 10px;
}

.linkList {
  border-bottom: solid 2px #333;
}
@media only screen and (max-width: 767px) {
  .linkList {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .linkList {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.15em;
    margin-bottom: 50px;
  }
}

.linkList__link {
  display: block;
  padding: 15px 10px;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 767px) {
  .linkList__link {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .linkList__link {
    overflow: hidden;
  }
}
.linkList__link:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 767px) {
  .linkList__title {
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .linkList__title {
    display: inline-block;
    float: left;
  }
}

@media only screen and (max-width: 767px) {
  .linkList__category {
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .linkList__category {
    display: inline-block;
    float: right;
  }
}

.openingVideo {
  overflow: hidden;
  position: fixed;
  top: 0;
}

.video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
}

.video__cover {
  content: "";
  background: url(../img/02.png) left top repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.videoOver__down {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-size: 1.6rem;
}
.videoOver__down a {
  display: block;
  color: #fff;
  position: relative;
}
.videoOver__down a:after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 12px;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../img/icon_down.svg);
  background-position: center center;
  background-repeat: no-repeat;
  animation: scrollDown 0.5s ease -1s infinite alternate;
}

@keyframes scrollDown {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: -25px;
  }
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.openingContent {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  left: 0;
  top: 0;
}

.openingMask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  background: #000;
}

.openingLogo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 12;
  width: 300px;
  height: 111px;
}

.newsWrapper {
  padding-bottom: 195px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.newsContaner {
  padding-top: 100px;
}
@media only screen and (max-width: 767px) {
  .newsContaner {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .newsContaner {
    margin-bottom: 120px;
  }
}

.newsHeader {
  color: #000;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .newsHeader {
    margin-bottom: 30px;
  }
}

.news__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .news__title {
    text-align: center;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .news__title {
    padding-left: 4px;
    float: left;
  }
}

.news__date {
  font-size: 10px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .news__date {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .news__date {
    float: right;
    margin-top: 5px;
    padding-right: 4px;
  }
}

.news__eyecatch {
  margin-bottom: 40px;
}
.news__eyecatch img {
  width: 100%;
}

.news__contents {
  padding: 0 10px;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  line-height: 3.5;
  text-align: justify;
  /**** wp article ****/
}
.news__contents h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h6 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents p {
  margin-bottom: 25px;
}
.news__contents ul {
  padding-left: 1em;
  margin-bottom: 16px;
}
.news__contents ul li {
  list-style: disc;
  margin-bottom: 4px;
}
.news__contents ol {
  padding-left: 1em;
  margin-bottom: 16px;
}
.news__contents ol li {
  list-style: decimal;
  margin-bottom: 4px;
}
.news__contents blockquote {
  border-left: solid 4px #ccc;
  padding: 0.5em 0 0.5em 1em;
  margin-bottom: 16px;
}
.news__contents blockquote p {
  font-style: italic;
}
.news__contents iframe {
  width: 100%;
}
.news__contents a {
  text-decoration: underline;
}
.news__contents a:hover {
  text-decoration: none;
}

.eventWrapper {
  padding-top: 100px;
  padding-bottom: 195px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.eventDetail__title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
}
@media only screen and (max-width: 767px) {
  .eventDetail__title {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .eventDetail__title {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 90px;
  }
}

.eventDetail__titleText {
  padding: 0 0 5px 0.15em;
  border-bottom: solid 3px #333;
}

.eventDetail__eyecatch {
  margin-bottom: 40px;
}
.eventDetail__eyecatch img {
  width: 100%;
}

.eventDetail__content {
  padding: 0 10px;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  line-height: 3.5;
  text-align: justify;
  /**** wp article ****/
}
@media only screen and (max-width: 767px) {
  .eventDetail__content {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .eventDetail__content {
    margin-bottom: 260px;
  }
}
.eventDetail__content h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h6 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content p {
  margin-bottom: 25px;
}
.eventDetail__content ul {
  padding-left: 1em;
  margin-bottom: 16px;
}
.eventDetail__content ul li {
  list-style: disc;
  margin-bottom: 4px;
}
.eventDetail__content ol {
  padding-left: 1em;
  margin-bottom: 16px;
}
.eventDetail__content ol li {
  list-style: decimal;
  margin-bottom: 4px;
}
.eventDetail__content blockquote {
  border-left: solid 4px #ccc;
  padding: 0.5em 0 0.5em 1em;
  margin-bottom: 16px;
}
.eventDetail__content blockquote p {
  font-style: italic;
}
.eventDetail__content iframe {
  width: 100%;
}
.eventDetail__content a {
  text-decoration: underline;
}
.eventDetail__content a:hover {
  text-decoration: none;
}

.eventBackBtnArea__backBtn {
  display: block;
  width: 350px;
  border: solid 2px #333;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.25em;
  transition: background 0.2s linear, color 0.2s linear;
}
.eventBackBtnArea__backBtn:hover {
  background-color: #333;
  color: #fff;
}
