@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,300italic,400italic,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", 'Noto Sans Japanese', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 10px;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 10px;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}
a:visited {
  color: #333;
}

img {
  vertical-align: bottom;
}

::selection {
  background: #0d3d6e;
  color: #fff;
}

::-moz-selection {
  background: #0d3d6e;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #fff;
  z-index: 2;
}
.top .header {
  display: none;
}

.header__inner {
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .header__inner {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) {
  .header__inner {
    padding: 0 30px;
  }
}

.header__logo {
  width: 140px;
}
@media only screen and (max-width: 767px) {
  .header__logo {
    width: 100px;
  }
}
.header__logo img {
  width: 100%;
  height: auto;
}

.header__menuBtn {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .header__menuBtn {
    top: 0;
    margin-top: -3px;
  }
}

.menuLine {
  content: "";
  display: inline-block;
  background-color: #333;
  height: 3px;
  width: 25px;
  position: absolute;
  right: 15px;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.menuLine:nth-child(1) {
  top: 20px;
}
.menuLine:nth-child(2) {
  top: calc(50% - 2px);
}
.menuLine:nth-child(3) {
  bottom: 21px;
}
.header__menuBtn--open .menuLine {
  width: 30px;
  background-color: #fff;
}
.header__menuBtn--open .menuLine:nth-child(1) {
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
}
.header__menuBtn--open .menuLine:nth-child(2) {
  display: none;
}
.header__menuBtn--open .menuLine:nth-child(3) {
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__navi {
  width: 500px;
  position: absolute;
  top: 15px;
  right: 40px;
  display: none;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.header__navi.header__menu--open {
  display: block;
  animation: menu-open 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -webkit-animation: menu-open 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

@keyframes menu-open {
  from {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
  }
  to {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes menu-open {
  from {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
  }
  to {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.naviContainer {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 60px 0;
}

.navi {
  text-align: center;
}

.navi__anchor {
  font-size: 41px;
  font-size: 4.1rem;
  color: #fff;
  transition: opacity 0.2s linear;
  letter-spacing: 0.25em;
  padding: 10px;
}
.navi__anchor:hover {
  opacity: 0.7;
}
.navi__anchor:visited {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .navi__anchor {
    font-size: 25px;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .navi__anchor {
    padding: 10px;
  }
}

.wrapper {
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.wrapper--fixed {
  position: fixed;
}

.main {
  width: 100%;
}

.footer {
  background-color: #191919;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 70px 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 60px 10px 90px;
  }
}

.footer__contents {
  letter-spacing: 0.15em;
}
@media only screen and (min-width: 768px) {
  .footer__contents {
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
    position: relative;
    overflow: hidden;
  }
}

.footerLogo {
  width: 160px;
}
@media only screen and (max-width: 767px) {
  .footerLogo {
    width: 140px;
    margin: 0 auto 40px;
  }
}
@media only screen and (min-width: 768px) {
  .footerLogo {
    float: left;
  }
}
.footerLogo img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .footerLink {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .footerLink {
    margin: 0 auto;
    width: 260px;
  }
}

.footerLinkContainer {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .footerLinkList {
    margin-bottom: 15px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .footerLinkList {
    text-align: left;
    width: 130px;
    height: 22px;
    margin-bottom: 10px;
  }
  .footerLinkList:nth-child(4) {
    position: absolute;
    left: 131px;
    top: 0;
  }
  .footerLinkList:nth-child(5) {
    position: absolute;
    left: 131px;
    top: 33px;
  }
}

.footerLinkList__link {
  letter-spacing: 0.25;
  color: #fff;
  position: relative;
  padding-left: 1em;
  font-size: 12px;
  font-size: 1.2rem;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 767px) {
  .footerLinkList__link {
    font-size: 10px;
    font-size: 1rem;
  }
}
.footerLinkList__link:before {
  content: ">";
  position: absolute;
  left: 0;
  top: -4px;
}
.footerLinkList__link:hover {
  color: #fff;
  opacity: 0.7;
}
.footerLinkList__link:visited {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .footerContact {
    text-align: center;
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .footerContact {
    position: absolute;
    right: 83px;
    top: 0;
    text-align: left;
  }
}

.contact__title {
  margin-bottom: 10px;
}

.contact__email {
  margin-bottom: 10px;
}
.contact__email a {
  color: #fff;
  transition: opacity 0.2s linear;
}
.contact__email a:hover {
  opacity: 0.7;
}

.contact__tel {
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .copy {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .copy {
    position: absolute;
    right: 0;
    top: 50px;
    text-align: left;
  }
}

.mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 20;
}

.section {
  padding: 150px 0;
}
@media only screen and (max-width: 767px) {
  .section {
    padding: 80px 0;
  }
}

.top .wrapper {
  margin-top: 1000%;
}

.top .main {
  padding-top: 80px;
}

.news {
  padding-top: 80px;
}

.news__header, .event__header {
  text-align: center;
  margin-bottom: 150px;
}
@media only screen and (max-width: 767px) {
  .news__header, .event__header {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .news__header, .event__header {
    margin-bottom: 80px;
  }
}

.news__headerText, .about__headerText, .event__headerText, .link__headerText {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.25em;
  border-bottom: solid 3px #333;
  padding-left: 0.25em;
  display: inline-block;
  line-height: 2.5em;
}
@media only screen and (max-width: 767px) {
  .news__headerText, .about__headerText, .event__headerText, .link__headerText {
    font-size: 12px;
    font-size: 1.2rem;
    border-bottom: solid 2px #333;
  }
}

@media only screen and (min-width: 768px) {
  .newsLatest__contents {
    max-width: 1280px;
    margin: 0 auto 100px;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

.newsLatest {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .newsLatest {
    width: 100%;
    margin-bottom: 80px;
  }
  .newsLatest.nolink {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .newsLatest {
    width: -webkit-calc(25% - 2px);
    width: calc(25% - 2px);
  }
}

.newsLatest__link {
  display: block;
}

.newsLatest__imageWrapper {
  content: "";
  display: block;
  width: 100%;
  height: 210px;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
@media only screen and (max-width: 767px) {
  .newsLatest__imageWrapper {
    height: 300px;
  }
}

.newsLatest__image {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  transition: all 0.2s linear;
}
.newsLatest__link:hover .newsLatest__image {
  opacity: 0.7;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.newsLatest__headline {
  padding: 14px 12px;
  transition: all 0.2s linear;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .newsLatest__headline {
    padding: 14px 20px;
  }
}
.newsLatest__link:hover .newsLatest__headline {
  opacity: 0.7;
}

.newsLatest__date {
  font-size: 10px;
  font-size: 1rem;
  margin-bottom: 4px;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .newsLatest__date {
    font-size: 9px;
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) {
  .newsLatest__date {
    margin-bottom: 10px;
  }
}

.newsLatest__caption {
  font-size: 10px;
  font-size: 1rem;
  text-align: justify;
  letter-spacing: 0.2em;
  line-height: 2;
}
@media only screen and (max-width: 767px) {
  .newsLatest__caption {
    font-size: 8px;
    font-size: 0.8rem;
    line-height: 2.5;
  }
}

.newsMore__btn, .eventMore__btn {
  display: block;
  border: solid 2px #333;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto 100px;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.25em;
  transition: background 0.2s linear, color 0.2s linear;
}
.newsMore__btn:hover, .eventMore__btn:hover {
  background-color: #333;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .newsMore__btn, .eventMore__btn {
    width: 75%;
    margin: 50px auto;
    font-size: 11px;
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 768px) {
  .newsMore__btn, .eventMore__btn {
    width: 340px;
  }
}

.about {
  background-color: #fdf6e6;
}

.about__header {
  text-align: center;
  margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  .about__header {
    margin-bottom: 50px;
  }
}

.about__slogan {
  text-align: center;
  font-weight: normal;
  margin-bottom: 130px;
}
@media only screen and (max-width: 767px) {
  .about__slogan {
    padding: 0 10px;
    font-size: 34px;
    font-size: 3.4rem;
    letter-spacing: 0.25em;
    line-height: 2;
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) {
  .about__slogan {
    font-size: 50px;
    font-size: 5rem;
    letter-spacing: 0.25em;
  }
}

.about__sloganText {
  margin-bottom: 52px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .about__sloganText {
    margin-bottom: 10px;
  }
}
.about__sloganText:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .about__sloganImg {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
  }
}

.about__message {
  padding: 20px 15px;
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.25em;
  line-height: 3.5;
  text-align: justify;
  margin-bottom: 130px;
}
@media only screen and (min-width: 768px) {
  .about__message {
    width: 100%;
    max-width: 900px;
    padding: 0 60px;
    margin: 0 auto 140px;
  }
}
@media only screen and (max-width: 767px) {
  .about__message {
    padding: 0 20px;
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0.2em;
    margin: 0 auto 60px;
  }
}

.about__movie {
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}

.about__movieInner {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.about__movieInner iframe {
  display: block;
}
@media only screen and (max-width: 767px) {
  .about__movieInner iframe {
    width: 100%;
    height: 180px;
    padding: 0 20px;
  }
}

.movie__credit {
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  text-align: left;
  line-height: 3em;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .movie__credit {
    font-size: 10px;
    font-size: 1rem;
    text-align: center;
  }
}

.event__contents {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .event__contents {
    max-width: 1200px;
    margin: 0 auto 150px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .eventLatest.nolink {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .eventLatest {
    position: relative;
    width: calc(33.3% - 2px);
    width: -webkit-calc(33.3% - 2px);
  }
}

.eventLatest__link,
.eventLatest__nolink {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
}
.eventLatest__link:before,
.eventLatest__nolink:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.eventLatest__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transition: all 0.2s linear;
}
.eventLatest__link:hover .eventLatest__bg {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 0.7;
}

.eventLatest__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  color: #fff;
  display: block;
  height: 83%;
  width: 83%;
  border: solid 3px #fff;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 0.12em;
  line-height: 2.5;
  padding: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .eventLatest__title {
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: 0.12em;
    line-height: 2.5;
  }
}

.link {
  background-color: #fafafa;
}

.link__header {
  text-align: center;
  margin-bottom: 150px;
}
@media only screen and (max-width: 767px) {
  .link__header {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .link__header {
    margin-bottom: 135px;
  }
}

@media only screen and (min-width: 768px) {
  .link__contents {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px 150px;
  }
}

@media only screen and (max-width: 767px) {
  .linkContainer {
    padding: 0 25px;
  }
}

.linkList {
  border-bottom: solid 2px #333;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .linkList {
    font-size: 8px;
    font-size: 0.8rem;
    margin-bottom: 25px;
  }
}

.linkList__link {
  display: block;
  padding: 8px 0;
  transition: all 0.2s linear;
  overflow: hidden;
}
.linkList__link:hover {
  opacity: 0.6;
}

.linkList__title {
  display: inline-block;
  float: left;
}

.linkList__category {
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 0.2em;
  display: inline-block;
  float: right;
}
@media only screen and (max-width: 767px) {
  .linkList__category {
    font-size: 8px;
    font-size: 0.8rem;
  }
}

.video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
}

.video__cover {
  content: "";
  background: url(../img/02.png) left top repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.videoOver__down {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 41%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .videoOver__down {
    bottom: 43%;
    font-size: 10px;
    font-size: 1rem;
  }
}
.videoOver__down:after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 12px;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../img/icon_down.svg);
  background-position: center center;
  background-repeat: no-repeat;
  animation: scrollDown 1.0s ease -1s infinite;
  -webkit-animation: scrollDown 1.0s ease -1s infinite;
}
@media only screen and (max-width: 767px) {
  .videoOver__down:after {
    width: 14px;
  }
}

@keyframes scrollDown {
  0% {
    bottom: -15px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: -25px;
    opacity: 0;
  }
}
@-webkit-keyframes scrollDown {
  0% {
    bottom: -15px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: -25px;
    opacity: 0;
  }
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -4;
  display: none;
}

.openingContent {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -3;
  left: 0;
  top: 0;
}

.openingMask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background: #000;
}

.openingLogo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 285px;
  height: 191px;
  padding-bottom: 90px;
}
@media only screen and (max-width: 767px) {
  .openingLogo {
    width: 195px;
  }
}

.newsWrapper {
  padding: 60px 0 195px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.newsContaner {
  padding-top: 100px;
}
@media only screen and (max-width: 767px) {
  .newsContaner {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .newsContaner {
    margin-bottom: 120px;
  }
}

.newsHeader {
  color: #000;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .newsHeader {
    margin-bottom: 30px;
  }
}

.news__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .news__title {
    font-size: 12px;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .news__title {
    padding-left: 4px;
    float: left;
  }
}

.news__date {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  .news__date {
    font-size: 10px;
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .news__date {
    float: right;
    margin-top: 5px;
    padding-right: 4px;
  }
}

.news__eyecatch {
  padding: 0;
  margin-bottom: 40px;
}
.news__eyecatch img {
  width: 100%;
}

.news__contents {
  padding: 0;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  line-height: 3.5;
  text-align: justify;
  /**** wp article ****/
}
@media only screen and (max-width: 767px) {
  .news__contents {
    padding: 0 25px;
    font-size: 10px;
    font-size: 1rem;
  }
}
.news__contents h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents h6 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
}
.news__contents p {
  margin-bottom: 25px;
}
.news__contents ul {
  padding-left: 1em;
  margin-bottom: 16px;
}
.news__contents ul li {
  list-style: disc;
  margin-bottom: 4px;
}
.news__contents ol {
  padding-left: 1em;
  margin-bottom: 16px;
}
.news__contents ol li {
  list-style: decimal;
  margin-bottom: 4px;
}
.news__contents blockquote {
  border-left: solid 4px #ccc;
  padding: 0.5em 0 0.5em 1em;
  margin-bottom: 16px;
}
.news__contents blockquote p {
  font-style: italic;
}
.news__contents iframe {
  width: 100%;
}
.news__contents a {
  text-decoration: underline;
}
.news__contents a:hover {
  text-decoration: none;
}
.news__contents img.size-full, .news__contents img.size-large {
  width: 100%;
  height: auto;
}

.newsPagenate {
  margin-bottom: 50px;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
}
.newsPagenate a {
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: opacity 0.2s linear;
}
.newsPagenate a:hover {
  opacity: 0.5;
}
.newsPagenate a.current {
  color: #aaa;
}

.eventWrapper {
  padding-top: 150px;
  padding-bottom: 195px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .eventWrapper {
    padding-top: 100px;
  }
}

.eventDetail__title, .eventArchive__title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
}
@media only screen and (max-width: 767px) {
  .eventDetail__title, .eventArchive__title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .eventDetail__title, .eventArchive__title {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 90px;
  }
}

.eventDetail__titleText, .eventArchive__titleText {
  padding: 0 0 10px 0.15em;
  border-bottom: solid 5px #333;
}
@media only screen and (max-width: 767px) {
  .eventDetail__titleText, .eventArchive__titleText {
    border-bottom: solid 3px #333;
  }
}

.eventDetail__eyecatch {
  padding: 0 20px;
  margin-bottom: 25px;
}
.eventDetail__eyecatch img {
  width: 100%;
}

.eventDetail__content {
  padding: 0 20px;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  line-height: 3.5;
  text-align: justify;
  /**** wp article ****/
}
@media only screen and (max-width: 767px) {
  .eventDetail__content {
    margin-bottom: 60px;
    font-size: 10px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .eventDetail__content {
    margin-bottom: 260px;
  }
}
.eventDetail__content h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content h6 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
}
.eventDetail__content p {
  margin-bottom: 25px;
}
.eventDetail__content ul {
  padding-left: 1em;
  margin-bottom: 16px;
}
.eventDetail__content ul li {
  list-style: disc;
  margin-bottom: 4px;
}
.eventDetail__content ol {
  padding-left: 1em;
  margin-bottom: 16px;
}
.eventDetail__content ol li {
  list-style: decimal;
  margin-bottom: 4px;
}
.eventDetail__content blockquote {
  border-left: solid 4px #ccc;
  padding: 0.5em 0 0.5em 1em;
  margin-bottom: 16px;
}
.eventDetail__content blockquote p {
  font-style: italic;
}
.eventDetail__content iframe {
  width: 100%;
}
.eventDetail__content a {
  text-decoration: underline;
}
.eventDetail__content a:hover {
  text-decoration: none;
}
.eventDetail__content img.size-full, .eventDetail__content img.size-large {
  width: 100%;
  height: auto;
}

.eventBackBtnArea__backBtn {
  display: block;
  width: 340px;
  border: solid 2px #333;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.25em;
  transition: background 0.2s linear, color 0.2s linear;
}
.eventBackBtnArea__backBtn:hover {
  background-color: #333;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .eventBackBtnArea__backBtn {
    width: 75%;
    font-size: 11px;
    font-size: 1.1rem;
  }
}

.eventArchiveWrapper {
  padding-top: 140px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .eventArchiveWrapper {
    padding-bottom: 100px;
  }
}

.eventArchive__title {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.eventArchive__titleText {
  letter-spacing: 0.25em;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .eventArchive__titleText {
    margin-left: 20px;
  }
}

.eventArchive___contents {
  letter-spacing: -0.4em;
}

@media only screen and (max-width: 767px) {
  .eventArchive_article {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .eventArchive_article {
    vertical-align: top;
    width: 24.75%;
    margin-right: 0.25%;
    display: inline-block;
    margin-bottom: 100px;
  }
}

.eventArchive__imageWrapper {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.eventArchive__imageWrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.eventArchive__image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transition: all 0.2s linear;
}
.eventArchive__link:hover .eventArchive__image {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 0.7;
}

.eventArchive__link {
  display: block;
}

.eventArchive__eventTitle {
  margin-top: 15px;
  color: #000;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 0.12em;
  line-height: 1.5;
  transition: all 0.2s linear;
}
.eventArchive__link:hover .eventArchive__eventTitle {
  opacity: 0.5;
}
